Flask
mysqlclient
pymssql
sqlalchemy
flask_sqlalchemy
marshmallow
marshmallow-sqlalchemy
flask-marshmallow
pytz
beautifulsoup4
numpy
keras
tensorflow
sklearn
pandas
requests
sshtunnel
pebble
Flask-BasicAuth
XlsxWriter
matplotlib
tqdm
schedule
flask-socketio
eventlet
pyodbc
