Flask
mysqlclient
pymssql
sqlalchemy
flask_sqlalchemy
marshmallow
marshmallow-sqlalchemy
flask-marshmallow
Flask-Bower
pytz
beautifulsoup4
numpy
keras
tensorflow
sklearn
pandas
requests
sshtunnel
pebble
Flask-BasicAuth
XlsxWriter
matplotlib
